/* body {
    /* display: flex; */
    /* padding: 10px; */

/* } */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 10;
    /* display: flex; */
    align-items: center;
   
    height: 100vh;
    justify-content: center;
  }

  .all_controll {
    text-align: center;
    padding-right: 20px;
   
    
  }

  .title {
    color: #333;
  }

  .handle {
    margin-top: 20px;
    /* display: flex; */
    justify-content: center;
    display: flex;
  }

  .controller {
    margin-top: 20px;
    
    
    
  }

  button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #4285f4;
    color: #fff;
  }

  .buttom_control {
    background-color: #4285f4;
    color: #fff;
  }

  .voice {
    margin-top: 20px;
    justify-content: center;
    display: flex;

  }

  #start-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #34a853;
    color: #fff;
    transition: background-color 0.3s;
  }

  #start-btn:hover {
    background-color: #2d8a3e;
  }

   #transcript {
      margin-top: 10px;
      font-size: 16px;
      color: #333;
      line-height: 1.5;
      text-align: center;
    }


    h1 {
        color: #333;
        text-align: center;
      }
  
      #myChart {
        width: 100%;
        max-width: 1000px;
        height: 300px;
        margin: 20px auto;
        display: block;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
  
      .alert {
        background-color: #ff0000;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
      }
  
      .vatcan {
        /* background-color: #00ff00; */
        color: #333;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
      }
  
      /* .trangthai {
        background-color: #333;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        font-weight: bold;
      }
   */
      /* Hiệu ứng icon */
      .icon {
        font-size: 24px;
        margin-right: 5px;
      }

      .gauge {
        position: relative;
        border-radius: 50%/100% 100% 0 0;
        background-color: var(--color, #a22);
        overflow: hidden;
       
         
          width: 200px;
          --rotation: 83deg;
          --color: #5cb85c;
          --background: #e9ecef;
          margin: 0 auto; /* Căn giữa theo chiều ngang */
        
    }
    .gauge:before{
        content: "";
        display: block;
        padding-top: 50%;   /* ratio of 2:1*/
    }
    .gauge .chart {
    overflow: hidden;
    }
    .gauge .mask {
    position: absolute;
    left: 20%;
    right: 20%;
    bottom: 0;
    top: 40%;
    background-color: #fff;
    border-radius: 50%/100% 100% 0 0;
    }

    .gauge .percentage {
        position:  absolute;
        top: -1px;
        left: -1px;
        bottom: 0;
        right: -1px;
        background-color: var(--background, #aaa);
        transform:rotate(var(--rotation)); 
        transform-origin: bottom center; 
        transition-duration: 600;
    }
    .gauge:hover {
    --rotation: 100deg;
    }
    .gauge .value {
    position:absolute; bottom:0%; left:0;   
    width:100%; 
    text-align: center;
    }

    .gauge .min {
    position:absolute; 
    bottom:0; left:5%;   
    }
    .gauge .max {
    position:absolute; 
    bottom:0; right:5%;   
    }